@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Frances: 'Fraunces', serif;
}

body {
    background-color: var(--Cream);
}

img {
    width: 350px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.texto {
    text-align: left;
    width: 350px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    padding-left: 30px;
    padding-top: 10px;
}

.texto h1 {
    font-family: 'Fraunces', serif;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.textomenor {
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.preco {
    margin-top: 1px;
    color: var(--Darkcyan);
    font-size: 30px;
    font-family: var(--Frances);
}

.desconto {
    width: 12px;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    margin-top: -57px;
    margin-left: 130px;
    text-decoration: line-through;
}

.container {
    background-color: white;
    margin: auto;
    display: flex;
    width: 600px;
    height: 410px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
}

.botao {
    background-color: var(--Darkcyan);
    border-radius: 10px;
    width: 200px;
    height: 25px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    margin-left: -13px;
    margin-top: 15px;
}